#portfolio {
  /* background: var(--bg-main); */
}

.Portfolio-img {
  width: 100%;
  height: 640px;
  object-fit: cover;
  /* border-radius: 15px; temp deactivated */
  display: block;
  /* Smooth transition  */
  transition: transform 0.4s ease, filter 0.4s ease;
}

.Portfolio-card-link {
  display: block;
  text-decoration: none;
}

.Portfolio-card {
  position: relative;
  overflow: hidden;
  aspect-ratio: 5 / 5;

  /* border-radius: 15px; temp deactivated */
}

/*  Overlay (text) */
.Portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;

  opacity: 0;
  transition: opacity 0.4s ease;
}

.Overlay-title {
  font-weight: 700;
  margin-bottom: 5px;
}

.Overlay-tag {
  font-size: 0.9em;
}

/* Hover Effects */

.Portfolio-card:hover .Portfolio-img {
  transform: scale(1.08);

  filter: brightness(0.8);
}

.Portfolio-card:hover .Portfolio-overlay {
  opacity: 1;
}

/* /* .Portfolio-card:hover .Portfolio-overlay { * (hide) 
  opacity: 1;
} */
