/* Page spacing κάτω από fixed navbar */
.nature-gallery-container {
  padding-top: 140px;
}

/* Gallery title */
.nature-gallery-title {
  color: black;
  margin-bottom: 40px;
}

/* Gallery card  */
.nature-card {
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  cursor: pointer;
  height: 100%;
}

.nature-item {
  display: block;
  text-decoration: none;
  color: inherit;
  height: 100%;
}

/* Image inside card */
.nature-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}
/* HOVER EFFECT */
/* Zoom image on hover */
.nature-card:hover img {
  transform: scale(1.05);
}

/* Dark overlay */
.nature-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Show overlay on hover */
.nature-card:hover::after {
  opacity: 1;
}

/* Title on hover */
.nature-card .nature-card-title {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.2rem;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.3s ease;
}

/* Show title on hover */
.nature-card:hover .nature-card-title {
  opacity: 1;
}
