/* Mobile */
@media screen {
  @media (max-width: 768px) {
  }
}

/* Page spacing κάτω από fixed navbar */
.portrait-gallery-container {
  padding-top: 140px; /* keep content below navbar */

  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

/* Gallery title */
.portrait-gallery-title {
  color: black !important;
  margin-bottom: 40px; /* distance from images */
}

/* Gallery card  */
.portrait-card {
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  cursor: pointer;
}

/* Image inside card */
.portrait-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

/* HOVER EFFECT - Zoom image on hover */
.portrait-card:hover img {
  transform: scale(1.05);
}
