.hero-carousel {
  display: block;
  margin-top: 50px;
  object-fit: cover;
  height: 60vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  
}

.hero-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 100%;
  max-width: 700px;
  padding: 0 20px;
}

.hero-img {
  height: 55vh;
  object-fit: cover;
  object-position: center;
}

.hero-carousel::before {
  top: 0;
}

.hero-carousel::after {
  bottom: 0;
}
