.body {
  padding-top: 70px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  text-decoration: none;
  font-weight: normal;
  gap: 40px;
  
}

/* Nav links color when NOT scrolled */
#navbar:not(.navbar-scrolled) .nav-link {
  color: #ffffff !important;
}

/* Nav link hover effect (explosive burst) */
.nav-link:hover {
  transform: scale(1);
}

.nav-link:hover::before,
.nav-link:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  transform: translate(-20%, -20%) scale(0);
  animation: burst 0.4s ease-out forwards;
}

.nav-link:hover::before {
  background: radial-gradient(circle, rgba(255, 196, 0, 0.808), transparent);
  z-index: -1;
}

.nav-link:hover::after {
  background: radial-gradient(circle, rgba(255, 174, 0, 0.74), transparent);
  z-index: -2;
}

/*=====  NAVBAR BACKGROUND===== */
#navbar {
  background: linear-gradient(160deg, #000000, #000000 55%, #141414);
}

.nav-link {
  position: relative;
}

/*LOGO STYLING */
.navbar-logo {
  display: block;
  height: 90px;
  width: auto;
  margin: 0;
  padding: 0;
  object-fit: contain;
  filter: brightness(115%);
  
}

.navbar-logo:hover {
  opacity: 100;
}

/*===== TOGGLER (MOBILE MENU ICON)===== */
.custom-toggler .navbar-toggler-icon {
  background-image: none;
  width: 24px;
  height: 2px;
  background-color: #000;
  box-shadow: 0 6px 0 #000, 0 12px 0 #000;
}

/* White toggler when navbar is NOT scrolled */
#navbar:not(.navbar-scrolled) .custom-toggler .navbar-toggler-icon {
  background-color: #ffffff;
  box-shadow: 0 4px 0 #ffffff, 0 12px 0 #ffffff;
}

/* Fine-tuned toggler default inside navbar */
#navbar .custom-toggler .navbar-toggler-icon {
  background-color: #eeeeee;
  box-shadow: 0 6px 0 #ebebeb, 0 12px 0 #eeeeee;
}

#navbar .navbar-toggler:focus {
  box-shadow: none;
}

/* ===== ANIMATION KEYFRAMES FOR HOVER FONTS LINKS=====  */
@keyframes burst {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}

.canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

canvas {
  width: 100%;
  height: 100%;
}
