/* Lightbox overlay */
.yarl__container {
  background: rgba(255, 255, 255, 0.35) !important;
  backdrop-filter: blur(18px) saturate(120%);
  -webkit-backdrop-filter: blur(18px) saturate(120%);
}

/* White frame around the photo */
.yarl__slide_image {
  background: #ffffff;
  padding: 10px; /* thickness of the white border */
  border-radius: 6px;

  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.18);
}

.yarl__slide_image img {
  max-height: 80vh;
  width: auto;
  display: block;
}

.yarl__toolbar,
.yarl__navigation {
  color: #000;
}

/* https://yet-another-react-lightbox.com/documentation?utm_source.com */
/* https://github.com/igordanchenko/yet-another-react-lightbox?utm_source.com */
