body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-color);
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--primary-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 85px;
}

/* Mobile */
@media screen {
  @media (max-width: 768px) {
  }
}


