:root {
  --bg-main: linear-gradient(
    to right,
    #f6f1ea,
    #e6ded4,
    #d5cfc3,
    #c4c0b2,
    #b3b1a1
  );
  --bg-pages: radial-gradient(125% 125% at 50% 10%, #fff 40%, #475569 100%);
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 85px;
}
